html {
    font-family: Monaco, monospace;
}
.top-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: beige;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.first-button-link {
    font-size: xx-large;
}

.other-button-links {
    float: right;
    margin-left: auto;
}

.banner-button-link {
    color: black;
    text-decoration: none;
    padding: 0px 25px 0px 25px;
}


.banner-button-link:hover {
    color: rgb(80, 80, 80);
}

.center-div {
    margin-left: 22%;
    margin-right: 22%;
    margin-top: 57px;
    padding: 2% 2% 2% 2%;
    background-color: rgb(255, 255, 255);
}